
* {padding: 0; margin: 0; vertical-align: top;}
h1, h2, h3, h4, h5, h6, a, p { font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;} 
a {text-decoration: none; color: white;}
li {list-style-type: none;}
$bl: inline-block;
$ch_point: pointer;


body { 
	background: #EDEEF0;
	margin: 0 auto;
	width: 1025px;
}


.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


header {
	background: #F9F9F9;
	padding: 5px 50px;
	overflow: hidden;
	box-shadow: 0px 7px 20px -4px rgba(0,0,0,0.3);
	margin-top: auto;
}

.box_logo, .box img, .box_bell, .user_ico {cursor: $ch_point;}
.box_logo, .logo, 
.right_menu, .box,
.box_bell, .user_ico, 
.acc_ico, .info, .sidebar, .content, .box_user {display: $bl;}
//---
.box_logo h1 {margin-top: 5px; font-size: 38px; color: #ED21B1;}
.right_menu {float: right;}
.box, .user_ico {margin: 0 10px;}
.coins {padding: 15px 5px 0 5px;}
.coins img, span, p {display: $bl; color: #6E6E6E; vertical-align: bottom;}
.box_bell {margin-top: 14px;}
.ht { margin-bottom: 5px;}


.wrapper {
	margin-top: 30px;
}


.sidebar {
	width: 280px;
}
.boxes {border: 1px solid silver; margin-top: 20px; background: #F9F9F9;}
.text_p, .premium_button, footer {text-align: center;} 
.wp_sidebar {margin: 0 0 0 45px;}
.my-acc {border: 1px solid silver; padding: 10px; background: #F9F9F9;}
// .acc_ico {border: 3px solid red; }
.acc_ico img {width: 45px; height: 45px; border-radius: 50px; border: 2px solid silver;}
.info p {color: #6E6E6E; font-weight: bold; font-size: 0.8em;}
.acc_ico, .info {height: 50px;}
.text_p {margin-bottom: 15px;}
.text_p p {font-size: 12px;}
.premium_button {border: 2px solid deeppink; border-radius: 20px; cursor: pointer;}
.premium_button p {color: deeppink; padding: 3px;}
.box_find {padding-left: 10px; margin: 20px 0;}
.box_find ul li a { color: #6E6E6E; font-size: 20px;}
.box_find ul li a:hover {color: deeppink;}
.banner_x2 {background: silver; height: 500px; text-align: center;}
.banner_x2 p {color: black;}


.content {
	margin-right: auto;
	width: 708px;
}
.soc_type, .user_name, .wp_text{text-align: center;}
.cnf_people {border: 1px solid silver; padding: 5px 25px; background: #F9F9F9;}
.wp_name_x {display: inline-block; margin-left: 25px;}
.wp_name_x p {margin: 0 20px;}
.wp_name_x select {margin-left: 20px;}
.set_name {margin-top: 5px;}
.slider {display: inline-block; width: 400px; height: 400px; background: #1FF6CC; margin-top: 20px;}
.box_user {width: 280px; height: 400px; border: 1px solid silver; margin: 20px 0 20px 20px;}
.user_name {padding: 5px;}
.user_name p {font-size: 23px; font-weight: bold;}
.wp_text  { margin: 5px 0; padding: 5px; }
.wp_text p {font-size: 16px;}
.message { width: 400px; height: 40px; border: 1px solid silver; }


footer {
	padding: 10px;
	margin-bottom: 0px;
	width: 100%;
	box-shadow: 0 -8px 20px -4px rgba(0,0,0, 0.3);
}

footer p { margin: 0 4px; }